.form__container {
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    padding: 15px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.329);
}

.form__container--margin {
    margin-bottom: 2%;
}

.form__addButton {
    background-color: teal;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}

.form__input {
    padding: 10px;
}