.list__item--done {
    text-decoration: line-through;
}
.list__removeButton {
    background-image: url(/images/delete.png);
    height: 25px;
    width: 25px;
    background-size: contain;
    border: none;
}
.list__doneButton{
    background-image: url(/images/check-box1.png);
    background-size: contain;
    width: 25px;
    height: 25px;
    border: none;
}
.list__doneButton--done{
    background-image: url(/images/check-box2.png);
}
