html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}
.body{
    font-family: 'Lato', sans-serif;
    margin: 5% 10%;
    background-color: whitesmoke;
    word-break: break-word;
   }