html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}
.body{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    background-color: whitesmoke;
    word-break: break-word;
    padding: 20px;
   }